@CHARSET "ISO-8859-1";

body {
	padding: 10px;
	font-family: sans-serif;
}

form label {
	font-weight: bold;
}

.content {
	border: thin solid black;
}

#batteries > h1 {
	margin-bottom: 0px;
}

#devices > h1 {
    margin-bottom: 0px;
}

.battery {
	margin: 5px;
	padding: 5px;
	display: inline-block;
	width: 220px;
	vertical-align: top;
	position: relative;
}

.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }

.detail {
	position: absolute;
	top: 0px;
	left: 70px;
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
}

.label {
	font-weight: bold;
}

#dialogs {
}

#actions {
	margin: 10px 20px;
	padding: 10px;
	background-color: gray;
	overflow: auto;
	height: auto;
}

label.error {
	color: red;
}

input.error {
	border-color: red;
}

#availableChannel {
	overflow: auto;
}

#availableChannel > *,
    #addRemoveChoices > * {
	display: inline-block;
    vertical-align: middle;
}

#availableAddOrRemove  button {
	width: 7em;
}

#battHowManyForm {
	position: relative;
}

#battHowManyForm > form > * {
	vertical-align: middle;
}

.imageButton {
	padding: 5px;
}

.device {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.device label {
	font-weight: bold;
}

.device description {
	font-style: italic;
}