@CHARSET "ISO-8859-1";

body {
	margin: 10px;
	margin-left: 43px;
	font-family: sans-serif;
	background-image: url(../img/BattsTitle.png);
	background-repeat: no-repeat;
}

#banner {
	height: 50px;
}

#banner #btnDoMore {
	float: right;
}

form label {
	font-weight: bold;
}

.content {
	border: thin solid black;
}

#batteries > h1 {
	margin-bottom: 0px;
}

#devices > h1 {
    margin: 0 0;
}

#devices > .content {
	min-height: 20px;
}

.battery {
	margin: 5px;
	padding: 5px;
	display: inline-block;
	width: 220px;
	vertical-align: top;
	position: relative;
}

.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }

.detail {
	position: absolute;
	top: 0px;
	left: 70px;
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
}

.label {
	font-weight: bold;
}

#dialogs {
}

#actions {
	margin: 10px 20px;
	padding: 10px;
	background-color: #808080;
	overflow: auto;
	height: auto;
}

label.error {
	color: red;
}

input.error {
	border-color: red;
}

#availableChannel {
	overflow: auto;
	margin-bottom: 10px;
}

#availableChannel > *,
    #addRemoveChoices > * {
	display: inline-block;
    vertical-align: middle;
}

#availableAddOrRemove  button {
	width: 7em;
}

#battHowManyForm {
	position: relative;
}

#battHowManyForm > form > * {
	vertical-align: middle;
}

.imageButton {
	padding: 5px;
}

.device {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.device .label {
	font-weight: bold;
}

.device .description {
	font-style: italic;
}

.device .battery-count {
	display: inline-block;
	border: thin solid black;
	padding: 3px;
	margin: 3px 0px;
}

.device .full {
	background-color: black;
	color: white;
}

.device .empty {
	background: none;
	color: black;
}

.dlgRow {
	margin-bottom: 5px;
}

.dlgRow > * {
	vertical-align: baseline;
}

.dlgRow > label {
	display: inline-block;
	width: 8em;
}

.buttonBar {
	text-align: right;
}

.buttonBar > * {
	vertical-align: baseline;
	margin: 3px;
}

#dialogs > div {
	padding: 5px;
}

#dlgEditDevice {
	width: 400px;
}

#dlgEditDevice-btnDel {
	margin-right: 20px;
}

#dlgEditDevice-btnDel .ui-button-text {
	color: red;
}

#btnOutIn {
	width: 115px;
}

#getStarted {
	font-size: 24pt;
	margin: 20px 0;
}

#doMoreTooltip {
	width: 150px;
}

#doMoreTooltip > button {
	display: block;
	margin: 5px;
	width: 100%;
}

.description {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

#dlgCreatedShare-shareCode {
	margin: 10px 0;
	font-size: 24pt;
	font-family: monospace;
	text-align: center;
}

#dlgCreatedShare-buttons {
	margin-top: 10px;
	text-align: center;
}

#footer {
	margin-top: 20px;
	text-align: center;
	font-size: 10pt;
}

#openid_form {
	height: 120px;
}